trunk/ws/cxf-demo/src/main/wsdl/LastReloadWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="services:lastreload" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="services:lastreload" xmlns:intf="services:lastreload" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="services:lastreload" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getLastSelfReloadWebService">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLastSelfReloadWebServiceResponse">
    <complexType>
     <sequence>
      <element name="getLastSelfReloadWebServiceReturn" type="impl:LastReloadResult"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="LastReloadWrapper">
    <sequence>
     <element name="labelURL" nillable="true" type="xsd:string"/>
     <element name="amount" nillable="true" type="xsd:long"/>
     <element name="consumpId" nillable="true" type="xsd:int"/>
     <element name="msisdn" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="LastReloadResult">
    <sequence>
     <element name="errorText" nillable="true" type="xsd:string"/>
     <element name="lastReload" nillable="true" type="impl:LastReloadWrapper"/>
     <element name="returnCode" type="xsd:int"/>
     <element name="errorCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getLastSelfReloadWebServiceRequest">

      <wsdl:part element="intf:getLastSelfReloadWebService" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getLastSelfReloadWebServiceResponse">

      <wsdl:part element="intf:getLastSelfReloadWebServiceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="LastReloadInterface">

      <wsdl:operation name="getLastSelfReloadWebService">

         <wsdl:input message="intf:getLastSelfReloadWebServiceRequest" name="getLastSelfReloadWebServiceRequest"/>

         <wsdl:output message="intf:getLastSelfReloadWebServiceResponse" name="getLastSelfReloadWebServiceResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LastReloadWebServiceSoapBinding" type="intf:LastReloadInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLastSelfReloadWebService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLastSelfReloadWebServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLastSelfReloadWebServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LastReloadInterfaceService">

      <wsdl:port binding="intf:LastReloadWebServiceSoapBinding" name="LastReloadWebService">

         <wsdlsoap:address location="http://localhost:8080/webservice/services/LastReloadWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
