training/production-ready-application/trunk/src/main/resources/META-INF/wsdl/customerService-1.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.xebia.fr/customer/v1_0"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="customerService" targetNamespace="http://ws.xebia.fr/customer/v1_0">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ws.xebia.fr/customer/v1_0" elementFormDefault="qualified">
         <xsd:element name="getCustomer">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="id" type="xsd:long" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="getCustomerResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="customer" type="tns:Customer" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>

         <xsd:complexType name="Customer">
            <xsd:annotation>
               <xsd:documentation>customer</xsd:documentation>
            </xsd:annotation>
            <xsd:all>
               <xsd:element name="id" type="xsd:long"></xsd:element>
               <xsd:element name="firstName" type="xsd:string"></xsd:element>
               <xsd:element name="lastName" type="xsd:string"></xsd:element>
               <xsd:element name="gender" minOccurs="0" maxOccurs="1" type="tns:Gender" />
               <xsd:element name="birthdate" type="xsd:date" minOccurs="0" maxOccurs="1" />
            </xsd:all>
         </xsd:complexType>

         <xsd:simpleType name="Gender">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="MALE" />
               <xsd:enumeration value="FEMALE" />
            </xsd:restriction>
         </xsd:simpleType>

         <xsd:element name="saveCustomer">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="customer" type="tns:Customer" minOccurs="1" maxOccurs="1" nillable="false"></xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="saveCustomerResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="customer" type="tns:Customer" minOccurs="1" maxOccurs="1" nillable="false"></xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="CustomerNotFoundFault">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="message" type="xsd:string"></xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="zeNoisyOperation">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="in" type="xsd:string"></xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="zeNoisyOperationResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="out" type="xsd:string"></xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCustomerRequest">
      <wsdl:part element="tns:getCustomer" name="parameters" />
   </wsdl:message>
   <wsdl:message name="getCustomerResponse">
      <wsdl:part element="tns:getCustomerResponse" name="parameters" />
   </wsdl:message>
   <wsdl:message name="saveCustomerRequest">
      <wsdl:part name="parameters" element="tns:saveCustomer"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="saveCustomerResponse">
      <wsdl:part name="parameters" element="tns:saveCustomerResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="CustomerNotFoundException">
      <wsdl:part name="parameters" element="tns:CustomerNotFoundFault"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="zeNoisyOperationRequest">
      <wsdl:part name="parameters" element="tns:zeNoisyOperation"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="zeNoisyOperationResponse">
      <wsdl:part name="parameters" element="tns:zeNoisyOperationResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:portType name="customerService">
      <wsdl:operation name="getCustomer">
         <wsdl:input message="tns:getCustomerRequest" />
         <wsdl:output message="tns:getCustomerResponse" />
         <wsdl:fault name="CustomerNotFoundException" message="tns:CustomerNotFoundException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="saveCustomer">
         <wsdl:input message="tns:saveCustomerRequest"></wsdl:input>
         <wsdl:output message="tns:saveCustomerResponse"></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="zeNoisyOperation">
         <wsdl:input message="tns:zeNoisyOperationRequest"></wsdl:input>
         <wsdl:output message="tns:zeNoisyOperationResponse"></wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="customerServiceSOAP" type="tns:customerService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getCustomer">
         <soap:operation soapAction="http://ws.xebia.fr/customer/v1_0/getCustomer" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="CustomerNotFoundException">
            <soap:fault name="CustomerNotFoundException" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="saveCustomer">
         <soap:operation soapAction="http://ws.xebia.fr/customer/v1_0/saveCustomer" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="zeNoisyOperation">
         <soap:operation soapAction="http://ws.xebia.fr/customer/v1_0/zeNoisyOperation" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="customerService">
      <wsdl:port binding="tns:customerServiceSOAP" name="customerServiceSOAP">
         <soap:address location="http://www.example.org/" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
