ws/cxf-demo/src/main/wsdl/TableauBordV40-topaze.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://cegetelsi/psg/tableaubord/4.0/" xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cegetelsi/psg/tableaubord/4.0/">
 <types xmlns:tns="http://cegetelsi/psg/tableaubord/4.0/" xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <xsd:schema xmlns:tns="http://cegetelsi/psg/tableaubord/4.0/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:stns="java:com.capgemini.sfr.psgmo.fo.modele.input" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="java:com.capgemini.sfr.psgmo.fo.modele.input">
   <xsd:complexType name="Entete">
    <xsd:sequence>
     <xsd:element type="xsd:string" name="SSAEmetteur" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="date" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="evenementType" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="idTransaction" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="numeroFlux" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="numeroMacroFonction" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="numeroPA" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="versionFlux" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:tns="http://cegetelsi/psg/tableaubord/4.0/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:stns="java:language_builtins.lang" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="java:language_builtins.lang">
   <xsd:complexType name="StringTab">
    <xsd:sequence>
     <xsd:element type="xsd:string" name="string" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:tns="http://cegetelsi/psg/tableaubord/4.0/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tp="java:com.capgemini.sfr.psgmo.ws.tableaubord.bean" xmlns:stns="http://cegetelsi/psg/tableaubord/4.0/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="http://cegetelsi/psg/tableaubord/4.0/">
   <xsd:import namespace="java:com.capgemini.sfr.psgmo.ws.tableaubord.bean">
   </xsd:import>
   <xsd:element xmlns:tp="java:com.capgemini.sfr.psgmo.ws.tableaubord.bean" type="tp:TdbIN" name="TableauBord" nillable="true">
   </xsd:element>
   <xsd:element xmlns:tp="java:com.capgemini.sfr.psgmo.ws.tableaubord.bean" type="tp:TdbOUT" name="TableauBordResponse" nillable="true">
   </xsd:element>
   <xsd:element xmlns:tp="java:com.capgemini.sfr.psgmo.ws.tableaubord.bean" type="xsd:int" name="checkServiceResponse">
   </xsd:element>
  </xsd:schema>
  <xsd:schema xmlns:tns="http://cegetelsi/psg/tableaubord/4.0/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:conv="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsr="http://www.openuri.org/2002/10/soap/reliability/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tp="java:com.capgemini.sfr.psgmo.fo.modele.input" xmlns:stns="java:com.capgemini.sfr.psgmo.ws.tableaubord.bean" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="java:com.capgemini.sfr.psgmo.ws.tableaubord.bean">
   <xsd:import namespace="java:com.capgemini.sfr.psgmo.fo.modele.input">
   </xsd:import>
   <xsd:import namespace="java:language_builtins.lang">
   </xsd:import>
   <xsd:complexType name="ArreteConsoTab">
    <xsd:sequence>
     <xsd:element type="stns:ArreteConso" name="ArreteConso" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OptionTab">
    <xsd:sequence>
     <xsd:element type="stns:Option" name="Option" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoBooleanTab">
    <xsd:sequence>
     <xsd:element type="stns:TdbInfoBoolean" name="TdbInfoBoolean" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoDateTab">
    <xsd:sequence>
     <xsd:element type="stns:TdbInfoDate" name="TdbInfoDate" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoIntTab">
    <xsd:sequence>
     <xsd:element type="stns:TdbInfoInt" name="TdbInfoInt" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoRecTab">
    <xsd:sequence>
     <xsd:element type="stns:TdbInfoRec" name="TdbInfoRec" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoStringTab">
    <xsd:sequence>
     <xsd:element type="stns:TdbInfoString" name="TdbInfoString" minOccurs="0" maxOccurs="unbounded" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ArreteConso">
    <xsd:sequence>
     <xsd:element type="xsd:string" name="ID" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:long" name="amount" minOccurs="1" maxOccurs="1">
     </xsd:element>
     <xsd:element type="xsd:string" name="currency" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:dateTime" name="validity" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Option">
    <xsd:sequence>
     <xsd:element type="xsd:string" name="codeProduit" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="libelleCourt" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbContenuIN">
    <xsd:sequence>
     <xsd:element type="xsd:string" name="infosDemandees" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="msisdn" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbContenuOUT">
    <xsd:sequence>
     <xsd:element type="stns:TdbInfosBlockENC" name="blockENC" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="stns:TdbInfosBlockFAC" name="blockFAC" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="stns:TdbInfosBlockFOR" name="blockFOR" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="stns:TdbInfosBlockGCR" name="blockGCR" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="codeErreur" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:int" name="codeRetour" minOccurs="1" maxOccurs="1">
     </xsd:element>
     <xsd:element type="xsd:string" name="libelleErreur" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbIN">
    <xsd:sequence>
     <xsd:element type="stns:TdbContenuIN" name="body" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element xmlns:tp="java:com.capgemini.sfr.psgmo.fo.modele.input" type="tp:Entete" name="header" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType xmlns:tp="java:com.capgemini.sfr.psgmo.fo.modele.input" name="TdbInfo">
    <xsd:sequence>
     <xsd:element type="xsd:string" name="ID" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:string" name="type" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoBoolean">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfo">
      <xsd:sequence>
       <xsd:element type="xsd:boolean" name="value" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoDate">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfo">
      <xsd:sequence>
       <xsd:element type="xsd:dateTime" name="value" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoInt">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfo">
      <xsd:sequence>
       <xsd:element type="xsd:int" name="value" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoRec">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfo">
      <xsd:sequence>
       <xsd:element type="stns:TdbInfoBooleanTab" name="infosBoolean" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
       <xsd:element type="stns:TdbInfoDateTab" name="infosDate" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
       <xsd:element type="stns:TdbInfoIntTab" name="infosInt" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
       <xsd:element type="stns:TdbInfoRecTab" name="infosRec" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
       <xsd:element type="stns:TdbInfoStringTab" name="infosString" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfoString">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfo">
      <xsd:sequence>
       <xsd:element type="xsd:string" name="value" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfosBlock">
    <xsd:sequence>
     <xsd:element type="xsd:string" name="ID" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="xsd:int" name="index" minOccurs="1" maxOccurs="1">
     </xsd:element>
     <xsd:element type="stns:TdbInfoBooleanTab" name="infosBoolean" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="stns:TdbInfoDateTab" name="infosDate" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="stns:TdbInfoIntTab" name="infosInt" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="stns:TdbInfoRecTab" name="infosRec" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element type="stns:TdbInfoStringTab" name="infosString" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TdbInfosBlockENC">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfosBlock">
      <xsd:sequence>
       <xsd:element type="stns:ArreteConsoTab" name="arretesConso" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfosBlockFAC">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfosBlock">
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfosBlockFOR">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfosBlock">
      <xsd:sequence>
       <xsd:element xmlns:tp="java:language_builtins.lang" type="tp:StringTab" name="numerosFavoris" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
       <xsd:element xmlns:tp="java:com.capgemini.sfr.psgmo.fo.modele.input" type="stns:OptionTab" name="options" minOccurs="1" maxOccurs="1" nillable="true">
       </xsd:element>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbInfosBlockGCR">
    <xsd:complexContent>
     <xsd:extension base="stns:TdbInfosBlock">
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="TdbOUT">
    <xsd:sequence>
     <xsd:element type="stns:TdbContenuOUT" name="body" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
     <xsd:element xmlns:tp="java:com.capgemini.sfr.psgmo.fo.modele.input" type="tp:Entete" name="header" minOccurs="1" maxOccurs="1" nillable="true">
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
 </types>
 <message name="checkService">
 </message>
 <message name="checkServiceResponse">
  <part xmlns:partns="http://cegetelsi/psg/tableaubord/4.0/" name="result" element="partns:checkServiceResponse">
  </part>
 </message>
 <message name="TableauBord">
  <part xmlns:partns="http://cegetelsi/psg/tableaubord/4.0/" name="tdbIn" element="partns:TableauBord">
  </part>
 </message>
 <message name="TableauBordResponse">
  <part xmlns:partns="http://cegetelsi/psg/tableaubord/4.0/" name="result" element="partns:TableauBordResponse">
  </part>
 </message>
 <portType name="TableauBordPortType">
  <operation name="checkService">
   <input message="tns:checkService">
   </input>
   <output message="tns:checkServiceResponse">
   </output>
  </operation>
  <operation name="TableauBord">
   <input message="tns:TableauBord">
   </input>
   <output message="tns:TableauBordResponse">
   </output>
  </operation>
 </portType>
 <binding type="tns:TableauBordPortType" name="TableauBordPort">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
  </soap:binding>
  <operation name="checkService">
   <soap:operation style="document" soapAction="">
   </soap:operation>
   <input>
    <soap:body namespace="http://cegetelsi/psg/tableaubord/4.0/" use="literal">
    </soap:body>
   </input>
   <output>
    <soap:body namespace="http://cegetelsi/psg/tableaubord/4.0/" use="literal">
    </soap:body>
   </output>
  </operation>
  <operation name="TableauBord">
   <soap:operation style="document" soapAction="">
   </soap:operation>
   <input>
    <soap:body namespace="http://cegetelsi/psg/tableaubord/4.0/" use="literal">
    </soap:body>
   </input>
   <output>
    <soap:body namespace="http://cegetelsi/psg/tableaubord/4.0/" use="literal">
    </soap:body>
   </output>
  </operation>
 </binding>
 <service name="TableauBordService">
  <port name="TableauBordPort" binding="tns:TableauBordPort">
   <soap:address location="http://topaze.telecom.capgemini.fr:7030/webservices/psg/tableaubord/4.0/TableauBord">
   </soap:address>
  </port>
 </service>
</definitions>