messaging/messaging-demo/src/main/resources/META-INF/xsd/employee-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://demo.xebia.fr/xml/employee" xmlns:tns="http://demo.xebia.fr/xml/employee"
   elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
   xsi:schemaLocation="
http://java.sun.com/xml/ns/jaxb http://java.sun.com/xml/ns/jaxb/bindingschema_2_0.xsd">
   <xsd:annotation>
      <xsd:appinfo>
         <jaxb:globalBindings>
            <jaxb:serializable uid="1" />
         </jaxb:globalBindings>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:complexType name="Employee">
      <xsd:all>
         <xsd:element name="id" type="xsd:int" minOccurs="0" maxOccurs="1"></xsd:element>
         <xsd:element name="lastName" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="256"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="firstName" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="256"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="gender" minOccurs="0" maxOccurs="1" type="tns:Gender">
         </xsd:element>
         <xsd:element name="birthdate" type="xsd:date"></xsd:element>
      </xsd:all>
   </xsd:complexType>

    <xsd:simpleType name="Gender">
       <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MALE" />
          <xsd:enumeration value="FEMALE" />
       </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>